body{color: #337ab7;}

.negro{
	color: #000;
}

hr{
border-top: 2px solid #337ab7;
}

td{color: #000;}

.derecha{
	float:right;
	padding-right:20px;
}

.noseleccionado{
	
	background:url("./../img/staron.png");
	background-repeat: no-repeat;
	width:24px;
	height:24px;
	border: 0;
}


.noseleccionado{
    background:url(./../img/staroff.png) no-repeat;
    cursor:pointer;
    border:none;
	outline:0;
	border:0;
}

.seleccionado{
    background:url(./../img/staron.png) no-repeat;
    cursor:pointer;
    border:none;
    outline:0;
	border:0;	
}



.headeritem{
	display: inline;
	padding-top: 0px;
	padding-right: 30px;	
}

.footerPost{
	display: flow-root;
}

.leftText{
	text-align: left;
}

.container-post{
	border: 2px solid #337ab7;
	width: 95%;
}

.bodyPost{
	padding-left: 45px;
}

.headerPost{
	padding-left: 30px;
}

.itemtext{
	padding-left: 5%;
}

.itemvalue{
	padding-left: 5%;
}